.overlay {
 background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  z-index: 5;
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: #1E1E21;
  height: auto;
  width: 350px;
  border-radius: 10px;
  border: 1px solid #454545;
  padding: 20px;
}
